@model ByteSwapFinalProject.Models.Users

@{
    ViewData["Title"] = "Change Password";
    ViewData["LayoutForm"] = 1;
    ViewData["ProfileNav.Page"] = 3; // Make sure this matches the index set in the controller
}

<link rel="stylesheet" href="~/css/ChangePassword.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div>
    <form id="passwordForm" asp-controller="Profile" asp-action="ChangePassword" method="post">
        <h1>Change Password</h1>
        <label for="currentPassword">Current Password:</label>
        <input type="password" id="currentPassword" name="password" required><br><br>

        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="confirmPassword" required><br><br>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>

        <a asp-controller="Profile" asp-action="Index">Cancel</a>

        <input type="submit" value="Change Password">
    </form>
</div>
