body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin-top: 50px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

form {
    margin: 50px auto;
    width: 400px;

}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

input[type="button"],
input[type="submit"],
#cancelButt {
    width: 48%; /* Adjusted width to make room for margins */
    padding: 10px;
    background-color:#57adbf;
    color: white;
    border: none;
    border-radius:20px;
    margin:2.5px;
    cursor: pointer;
    position: relative;




    display: flex; /* Display buttons inline */
    flex-direction: row;
    box-sizing: border-box; 
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

    input[type="submit"], #cancelButt :hover {
        background-color: #1a87b1;
    }

    input[type="button"]:hover {
        background-color: #d64762;
    }
